<idle-modal></idle-modal>

<div class="columns is-gapless">

    <!-- Sidebar with cards which are done -->
    <div id="sidebar" class="column" ng-controller="sidebarCtrl">
        <div class="card person-content">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Done</p>
                        <p count-todos="cards().length" count-todos-suffix="'done'" class="subtitle is-6"></p>
                    </div>
                    <div class="media-right add-icon">
                        <a class="icon" ng-click="setActiveUser(null)"><i class="fa fa-user-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div ng-show="cards().length == 0">
                <p class="has-text-centered">😱</p>
            </div>
            <card ng-repeat="c in cards() track by $index" data="c"></card>
        </div>
    </div>

    <!-- Main content with all persons and pending cards -->
    <div id="card-layout" class="column is-gapless is-three-quarters" ng-controller="cardsCtrl">
        <div class="columns is-gapless" id="card-scroll">
            <div ng-repeat="p in persons() track by $index" class="column is-one-quarter person-container">
                <person-header data="p"></person-header>
                <div class="card-container">
                    <add-card></add-card>
                    <div ng-show="getCardsByPersonId(p.id).length == 0">
                        <p class="has-text-centered">😇</p>
                    </div>
                    <card ng-repeat="c in getCardsByPersonId(p.id) track by $index" data="c"></card>
                </div>
            </div>
        </div>
    </div>
</div>
